#igniter {
	position: relative;
	display: none;
}
#igniter a {
	color: rgb(0, 102, 129);
	display: block;
	padding: 20px 0;
	width: 100%;
}
@media only screen and (max-width: 768px){
    #igniter {
        display: block;
    }
    #nav {
		float: left;
		position: relative!important;
	}
    #nav .nav_wrap, #forkongithub {
    	display: none;
    }
}