<!DOCTYPE html>
<html lang="zhCN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ ASSET_PATH }}/css/normalize.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/main.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/highlight/monokai_sublime.css" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/font-awesome.css" rel="stylesheet" type="text/css" media="all">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ ASSET_PATH }}/js/html5shiv.js"></script>
    <script src="{{ ASSET_PATH }}/js/respond.min.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!-- Update these with your own images
      <link rel="shortcut icon" href="images/favicon.ico">
      <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

</head>

<body>
<div id="wrap">

    {% include /themes/fis/nav.html %}
    <div class="container">
        {{ content }}
    </div>

    <!--<div id="footer">-->
        <!--<div class="container">-->
            <!--<p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
</div>


{% include JB/analytics %}


<!-- Latest compiled and minified JavaScript, requires jQuery 1.x (2.x not supported in IE8) -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ ASSET_PATH }}/js/jquery.min.js"></script>
<script src="{{ ASSET_PATH }}/js/highlight.pack.js"></script>
<script>
    hljs.initHighlightingOnLoad();

    function fixNavHeight(){
        var height = $(document).height(), width = $(window).width();
        $(".sidebar").css({"min-height": width > 760 ? height + 60 : 100})
    }
    $(document).ready(function(){
        fixNavHeight();
        $(window).resize(fixNavHeight);
    });
</script>
</body>
</html>
