<header class="navbar">
    <section>
        <a href="/index.html">
            <div class="logo">
                <i class="fa fa-cogs"></i> F.I.S - 前端工具框架
            </div>
        </a>
        <div class="nav-items">
            <a href="/index.html"><div class="nav-item">首页</div></a>
            <a href="/docs/beginning/getting-started.html"><div class="nav-item">使用文档</div></a>
            <a href="http://oak.baidu.com"><div class="nav-item">解决方案</div></a>
            <a target="_blank" href="http://www.imooc.com/learn/220"><div class="nav-item">在线课程</div></a>
            <a target="_blank" href="http://fex.baidu.com"><div class="nav-item">FEX官网</div></a>
        </div>
    </section>
</header>
