<aside>
    <nav>
        <header>
            <a href="/index.html">
            </a>
        </header>
        <ul>
            {% for config in site.data.nav %}
            <li class="item-{{ config.type }}">
                {% if (config.url) %}
                <a href="{{ config.url }}">
                    {{ config.title }}
                </a>
                {% else %}
                <span>
                    {{ config.title }}
                </span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </nav>
</aside>