<article class="doc-content">
    <div class="toc affix"></div>
    {{ content }}
    {% include JB/comments %}
</article>
<script type="text/javascript">
    $(document).ready(function(){
        //初始化高亮差距
        hljs.initHighlightingOnLoad();
        //修复绝对路径
        $(".sidebar a,.nav-items a").each(function(index,ele){
            if ($(ele).attr('href').indexOf('/') === 0){
                $(ele).attr('href',"{{ BASE_PATH }}"+$(ele).attr('href'));
            }
        });
        //将外链设置为新窗口打开
        $("a").each(function(index,ele){
            if ($(ele).attr('href').indexOf('{{ BASE_PATH }}/') !== 0){
                $(ele).attr('target','_blank');
            }
        });
    });
</script>
<script type="text/javascript" src="{{ ASSET_PATH }}/js/document.js"></script>
